@font-face {
    font-family: 'Kanit';
    src: url("../fonts/Kanit-Black.ttf") format("truetype");
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/RobotoCondensed-Bold.ttf") format("truetype");
}

body {
    background-color: #143EA8;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

#wrapper {
    padding: 20px;
    display: grid;
    grid-template-rows: 30% 1fr;
    height: calc(100vh - 40px);

    #header {
        color: white;
        margin-bottom: 20px;
        display: grid;
        grid-template-columns: 25% 1fr 25%;
        text-shadow: rgba(0, 0, 0, 0.7) 2px 2px 8px;
        text-transform: uppercase;

        div {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 32px;

            &.score {
                font-size: 90px;
            }
        }
    }

    #content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        grid-auto-flow: column;

        .answer {
            color: white;
            font-size: 40px;
            background-color: #5283FF;
            border: 4px solid whitesmoke;
            display: flex;
            box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 10px;
            background-image:
                linear-gradient(
                    #5283FF, #3C5FBA
                );

            &.hidden {
                .inner .number, .inner .result {
                    display: none;
                }
            }

            .inner {
                border: 2px solid whitesmoke;
                box-sizing: border-box;
                margin: 2px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                .number {
                    font-family: "Kanit";
                    font-weight: 900;
                    font-size: 54px;
                    position: relative;
                    text-align: center;
                    border-radius: 50%;
                    width: 70px;
                    height: 60px;
                    padding: 5px;
                    text-shadow: rgba(0, 0, 0, 0.7) 2px 2px 4px;
                    box-shadow: inset rgba(0, 0, 0, 0.5) 0px 2px 4px, rgba(0, 0, 0, 0.7) 0px 2px 6px;
                    background-color: #1A45A8;
                    border: 3px solid white;
                    line-height: 110%;
                }

                .result {
                    display: none;
                    justify-content: space-between;
                    width: 100%;
                    padding: 0 25px;
                    text-transform: uppercase;

                    .total {
                        border: 3px solid white;
                        padding: 0 10px;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}